.terraform.lock.hcl
remote-state-setup/.terraform/

environments/dev/01-infra-network/.terraform/
environments/dev/02-infra-compute/.terraform/
environments/dev/03-infra-storage/.terraform/

environments/prod/01-infra-network/.terraform/
environments/prod/02-infra-compute/.terraform/
environments/prod/03-infra-storage/.terraform/

remote-state-setup/terraform.tfstate
remote-state-setup/terraform.tfstate.backup
terraform.tfstate
terraform.tfstate.backup

modules/launch_template/terraform-key.pem
environments/dev/03-infra-compute/terraform-key.pem
environments/prod/03-infra-compute/terraform-key.pem
environments/dev/.terraform/
.gitlab-ci.yml
